body {
  background-color: #f0f0f0;
  padding: 20px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  line-height: 1.5em;
}

.jumbotron {
  background-color: #0F4D92;
  color: #fff;
  text-align: center;
}

.jumbotron > h1 {
  font-family: Constantia, 'Merriweather', serif;
  font-variant: small-caps;
}

.tab-content {
  background-color: #fff;
  border: 1px #ddd solid;
  border-top: 0;
  padding: 30px;
}

.row {
  margin: 0;
}
